*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.wrapper{
    display: flex;
    height: 100vh;
    position: relative;

}
.main{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url(city1.jpg) no-repeat center;
    background-size: cover;
    z-index: 3;
}
.main_title{
    color: aliceblue;
    font-size: 52px;
    font-family: Georgia, 'Arial';
}
.overlay{
    width: 2%;
height: 100%;
z-index: 4;
background: url(city2.jpg) no-repeat center;
background-attachment: fixed;
transition: 1.2s linear;

}
.overlay:hover{
    opacity: 0;
transition: 0s linear;

}